multiple "Cc:" headers

Emails generated by `gitgitgadget` may contain multiple `Cc:` headers. For example:

```
Message-Id: <20cd1b914e74c8f45e5cc9ed82d83eee1463cd91.1531312689.git.gitgitgadget@gmail.com>
In-Reply-To: <pull.8.git.gitgitgadget@gmail.com>
References: <pull.8.git.gitgitgadget@gmail.com>
From: Johannes Schindelin via GitGitGadget <gitgitgadget@gmail.com>
Date: Fri, 9 Mar 2018 17:36:47 +0100
Subject: [PATCH 3/3] rebase --rebase-merges: adjust man page for octopus support
...
To: git@vger.kernel.org
Cc: Junio C Hamano <gitster@pobox.com>
Cc: Johannes Schindelin <johannes.schindelin@gmx.de>
Sender: git-owner@vger.kernel.org
List-ID: <git.vger.kernel.org>
X-Mailing-List: git@vger.kernel.org
```

According to [RFC 5322 § 3.6](https://tools.ietf.org/html/rfc5322#section-3.6), only a single `Cc:` header is allowed.

Moreover, multiple `Cc:` headers may cause delivery problems. For instance, anti-spam software may reject such email:

```
X-Amavis-Alert: BAD HEADER SECTION Duplicate header field: "Cc"
```


> Emails generated by gitgitgadget may contain multiple Cc: headers

I guess the code responsible for this is https://github.com/gitgitgadget/gitgitgadget/blob/c4805370f59532aa438283431b8ea7d4484c530f/lib/patch-series.ts#L271

Care to suggest how to fix this properly? (IIRC there are some sort of length limitations on `Cc:` lines, too, and they are not necessarily comma separated, continuations are usually indicated by the next line starting with a space, right?)

@sunshineco I could really use your help here, as I am rather swamped with other stuff...

I think you're correct about line length limit, commas, and continuation lines, based upon my reading of that RFC.

Is that `ccMatch` working correctly? Perhaps I'm misunderstanding the code, but it looks like it shouldn't be invoking the `header += "\nCc: " + authorMatch[2];` line at all if a `Cc:` header is already present. It should simply be augmenting the existing `Cc:` header. In the email excerpt above, I'm guessing that `Cc: junio` was already present, and then `Cc: dscho` was added, having come from the `From:` header, so it doesn't make sense that it added a new `Cc:` header rather than merely augmenting the existing one (unless `ccMatch` isn't working or I'm misunderstanding the intent).

Regarding augmenting the `Cc:` header, rather than inserting `authorMatch[2]` on the same line as the existing `Cc:` and having to worry about line length, can you instead just append a comma to the existing `Cc:` line and then place `authorMatch[2]` indented on the next line?


> Is that ccMatch working correctly?

No. The thing is, the `Cc:` line is the last line of the `header` here, and it does not end in a newline (that is cut off from `header`, on purpose).

> Regarding augmenting the Cc: header, rather than inserting authorMatch[2] on the same line as the existing Cc: and having to worry about line length, can you instead just append a comma to the existing Cc: line and then place authorMatch[2] indented on the next line?

I think that this is not a completely correct solution, as it would still be possible to overrun the maximum line length (998 octets, according to https://tools.ietf.org/html/rfc2822#section-2.1.1).

But it should be good enough in our case.

> I think that this is not a completely correct solution, as it would still be possible to overrun the maximum line length

True. The extra comma could exceed the limit. If I'm reading [RFC 5322 § 2.2.3](https://tools.ietf.org/html/rfc5322#section-2.2.3) correctly, I _think_ that it would be legal to fold the line at the whitespace immediately following `Cc:`, which would be a simple way to avoid exceeding the limit without worrying about parsing email addresses.

That is, something like (pseudo-code):

````
if (existing "Cc:" header)
    if (len(header) < 998)
        ...as before...
    else
        header = "Cc:\n  " + header.strip_prefix("Cc:") + ",\n" + extra_cc
else
    ...as before...
````

Otherwise, you'd probably have to parse the email addresses to figure out where to split the line. Perhaps something like [email-addresses.js](https://www.npmjs.com/package/email-addresses) would be useful there if the simpler proposal above is not valid.

Does the _closed_ status of this issue indicate that the fix is now in production, or is there some window between the time the fix is accepted/merged before it goes into production?

I ask because I'm still seeing duplicate `Cc:` lines. For instance:

```
X-Amavis-Alert: BAD HEADER SECTION, Duplicate header field: "Cc"
Date:   Wed, 18 Jul 2018 08:15:35 -0700 (PDT)
Message-Id: <43ddcc9ef9267d54fb521319175871e5bf7e4d12.1531926932.git.gitgitgadget@gmail.com>
In-Reply-To: <pull.11.git.gitgitgadget@gmail.com>
References: <pull.11.git.gitgitgadget@gmail.com>
From:   "Stefan Beller via GitGitGadget" <gitgitgadget@gmail.com>
Subject: [PATCH 1/8] refs.c: migrate internal ref iteration to pass thru
 repository argument
To:     git@vger.kernel.org
Cc:     jnareb@gmail.com, Junio C Hamano <gitster@pobox.com>
Cc:     Stefan Beller <sbeller@google.com>
Sender: git-owner@vger.kernel.org
List-ID: <git.vger.kernel.org>
X-Mailing-List: git@vger.kernel.org
```


The fix is supposed to be in production. As soon as `master` is updated, it gets deployed to the web app.

So no, it should have worked.

Let's see whether it happens again in the next patch series.