multiple "Mime-Version:" headers

Emails generated by `gitgitgadget` may contain multiple `Mime-Version:` headers. For example:

```
Message-Id: <13032d847533cfecbd9a912312cab4f256e46b30.1538586732.git.gitgitgadget@gmail.com>
Date:   Wed, 03 Oct 2018 10:12:17 -0700 (PDT)
In-Reply-To: <pull.42.v2.git.gitgitgadget@gmail.com>
References: <pull.42.git.gitgitgadget@gmail.com>
        <pull.42.v2.git.gitgitgadget@gmail.com>
From:   "=?UTF-8?q?Martin=20=C3=85gren?= via GitGitGadget" 
        <gitgitgadget@gmail.com>
Subject: [PATCH v2 2/3] builtin/commit-graph.c: UNLEAK variables
MIME-Version: 1.0
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 8bit
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 8bit
MIME-Version: 1.0
To:     git@vger.kernel.org
Cc:     Junio C Hamano <gitster@pobox.com>,
        =?UTF-8?q?Martin=20=C3=85gren?= <martin.agren@gmail.com>
Sender: git-owner@vger.kernel.org
List-ID: <git.vger.kernel.org>
X-Mailing-List: git@vger.kernel.org
```

(Note that the `Content-Type:` and `Content-Transfer-Encoding:` headers are also unnecessarily duplicated.)

According to the BNF grammar of [RFC 2045 § 3](https://tools.ietf.org/html/rfc2045#section-3), it appears that only a single top-level `Mime-Version:` header is allowed.

Moreover, multiple `Mime-Version:` headers may cause delivery problems. For instance, anti-spam software may reject such email:

```
X-Amavis-Alert: BAD HEADER SECTION, Duplicate header field: "MIME-Version"
X-Quarantine-ID: <...>
```


I had a look at the latest mail sent by GitGitGadget and it appears not to have that problem: https://public-inbox.org/git/2b127d9669aa7b73ced7611b6e77044f5efed11d.1538595818.git.gitgitgadget@gmail.com/raw

However, https://public-inbox.org/git/13032d847533cfecbd9a912312cab4f256e46b30.1538586732.git.gitgitgadget@gmail.com/raw does have the reported problem. The most noticeable difference I can see is that the latter has non-ASCII characters in its Cc: header.

I could imagine that the culprit is https://github.com/gitgitgadget/gitgitgadget/blob/33a21e5625d408e1deab5d42bc9ff7eb2bc1d28f/lib/patch-series.ts#L659: is `format-patch` smart enough to override the `MIME-Version` header that was specifically added when the Cc: header requires one?

It looks like `git-format-patch` adds those headers unconditionally if it detects non-ASCII in any header or the body (without consulting whatever extra headers were added by `--add-header=`). 

Unfortunately, 43bdf5b (cli: force 8-bit/MIME headers, 2018-04-29), which made `gitgitgadget` emit `Mime-Version:` (and `Content-Type:` and `Content-Transfer-Encoding:`), doesn't explain the reason for doing so. One might wonder, therefore, if an easy "_fix_" is to update `gitgitgadget` to stop emitting those headers and instead let `git-format-patch` do so when needed.


> an easy "_fix_" is to update `gitgitgadget` to stop emitting those headers and instead let `git-format-patch` do so when needed.

Sadly, no. GitGitGadget *also* may add headers that necessitate those MIME/Content-* headers. So we definitely need to force them.

What we can do, grudgingly, is to post-process the generated mbox.